name: Flutter Workflow

on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.2'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get
        
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          java-version: 1.8

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Build Android package
        run: flutter build apk
        
      - uses: actions/upload-artifact@v3
        with:
          name: apk
          path: build/app/outputs/fluttet-apk/app-release.apk
